<div class="sidebar-container">
	<div class="sidebar-overlay" ng-click="toggleSidebar()" ng-class="{ 'sidebar-open' : open }"></div>
	<ul id="slide-out" class="side-nav full" ng-class="{ 'sidebar-open' : open }">
			<li class="logo"><a id="logo-container"  ui-sref="Home" class="brand-logo"> BIBLIOBROWSER</a></li>
	    <li><a href="#!" ui-sref="Home">Accueil</a></li>	
	    <li><a href="#!" ui-sref="Livres">Livres</a></li>
	    <li><a href="#!" ui-sref="Membres">Membres</a></li>
	    <li><a href="#!" ui-sref="Emprunts">Emprunts</a></li>
	    <li><a href="#!" ui-sref="Roles">Roles</a></li>
	    <li><a href="#!" ui-sref="Configuration">Configuration</a></li>
	</ul>
</div>

