	<header sidebar="vm.state.sidebar" title="{{ vm.settings.title }}"></header>

  <div class="section no-pad-bot" id="index-banner" >
    <div class="container">
      <div class="card blue-grey darken-1 center" ng-class="{ 'hidden': !vm.state.rootApiCard }">
	      <div class="card-content white-text">
	        <span class="card-title">Bienvenue dans votre bibliothèque ! </span>
	        <p></p>
	      </div>
	    </div>

      <div class="card blue-grey darken-1" ng-class="{ 'hidden': vm.state.authCard }">
        <div class="card-content white-text">
          <span class="card-title">AUTH</span>
          <p>Veuillez renseigner vos identifiants :</p>
          <div class="input-field col s6">
            <input id="username" type="text"  ng-model="vm.auth.username">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password"  ng-model="vm.auth.password">
            <label for="password">password</label>
          </div>
        </div>
        <div class="card-action">
          <a href='#' ng-click="vm.setAuthorization()">Login</a>
        </div>
      </div>

      <div class="card blue-grey darken-1" ng-class="{ 'hidden': !vm.state.rootApiCard }">
	      <div class="card-content white-text">
	        <span class="card-title">ROOT_API </span>
	        <p>Veuillez renseigner l'addresse de base :</p>
	        <div class="input-field col s6">
	          <input id="rootapi" type="text"  ng-model="vm.rootApi">
	        </div>
	      </div>
	      <div class="card-action">
	        <a href='#' ng-click="vm.setRootApi()">Enregistrer</a>
	      </div>
	    </div>
    </div>
  </div>


  <div class="container">
    <div class="section center">
    	<a class="waves-effect waves-light btn-large" ui-sref="Livres"><i class="mdi-av-my-library-books left"></i>Livres</a>
    	<a class="waves-effect waves-light btn-large" ui-sref="Membres"><i class="mdi-action-face-unlock left"></i>Membres</a>
    	<a class="waves-effect waves-light btn-large" ui-sref="Emprunts"><i class="mdi-action-book left"></i>Emprunts</a>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Projet JEE : Biblio</h5>


        </div>
        <div class="col l3 s12 white-text">
          <h5 class="white-text"> Equipe</h5>
          <ul>
            <li>Seif JEMLI</li>
            <li>Souhaib GUITOUNI</li>
            <li>Imen MHAMDI</li>
            <li>Othman BRICHA</li>
            <li>Yannick LEVIF</li>
          </ul>
        </div>
       
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      FrontEnd crafted with love using AngularJS
      </div>
    </div>
  </footer>

  <sidebar open="vm.state.sidebar"></sidebar>

<div class="hiddendiv common"></div>