.spinner {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner > div {
	margin: 0 auto;
}

.hidden {
	display: none !important;
}


.floating-btn-wrap {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding-right: 1.5em;
	padding-bottom: 0.5em;
	z-index: 5;
	clear: both;
}

.floating-btn {
	float: right;
}

.sidebar {

}

.sidebar-open {
	/*transform : translateX(250px);*/
	left: 0px !important;
	-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
}

.sidebar-container {

}

.sidebar-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgb(0,0,0);
	opacity: 0;
	visibility: hidden;
	will-change: opacity;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.sidebar-overlay.sidebar-open {
	opacity: 0.5 !important;
	visibility: visible !important;
}


.btn-menu {
	display: block !important;
	height: 56px;
	line-height: 64px;
	float: left;
  position: relative;
  z-index: 1;
}

.btn-menu-right {
  display: block!important;
  height: 56px;
  line-height: 64px;
  float: right;
  position: relative;
  z-index: 1;
}

nav a.btn-menu i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}

nav a.btn-menu-right i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}


@media only screen and (min-width: 992px) {
	nav .brand-logo {
		position: relative !important;
	}
}


.snackbar {
	background-color: #323232;
  color: rgba(255,255,255,.84);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
  overflow: hidden;
  clear: both;
  min-width: 288px;
  max-width: 568px;
  cursor: pointer;
  opacity: 1;
  float: left;
  padding: 14px 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  z-index: 6;

  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-snackbar {
	transform: translateY(100%);
	display: none;
}


@media (max-width: 767px) {
	.snackbar {
		border-radius: 0;
		margin-bottom: 0;
		margin-left: 0;
		min-width: 100vw;
		position: fixed;
		bottom: 0;

	}
}