<header sidebar="vm.state.sidebar" title="{{ vm.settings.title }}" backBtn="true" backaction="vm.backAction()"></header>

<sidebar open="vm.state.sidebar"></sidebar>

<div class="container">
    <div class="section">
      <spinner spinner="!vm.state.spinner"></spinner>

      <div class="floating-btn-wrap">
        <div class="snackbar hidden-snackbar" ng-class="{ 'hidden-snackbar': !vm.state.snackbar }" ng-click="vm.state.snackbar = true"> snackbar text</div>
        <a class="btn-floating floating-btn btn-large waves-effect waves-light pink accent-2" href="#/membres/{{ vm.membre.id }}/edit" ><i class="mdi-editor-mode-edit"></i></a>
        
      </div>

    <div class="row">
      <div class="col s12 offset-m2 m8">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ vm.membre.nom }}</span>
            <p>{{ vm.membre.prenom }} <br><br> ID: {{ vm.membre.id }}</p>
          </div>
          <div class="card-action">
            <a ng-click="vm.deleteLivre()">Supprimer ce membre</a>
          </div>
        </div>
      </div>
    </div>


    <br><br>

    <div class="section">

    </div>
  </div>
</div>