	<div class="navbar-fixed">
  <nav class="blue-grey darken-1" role="navigation">
    <div class="container">
      <div class="nav-wrapper center"><a id="logo-container" class="brand-logo">{{ title }}</a>
        <ul id="nav-mobile" class="right side-nav">
        </ul>
        <a class=" btn-menu" ng-click="action()" ng-if="!backbtn"><i class="mdi-navigation-menu"></i></a>
        <a class=" btn-menu" ng-click="action()" ng-if="backbtn"><i class="mdi-navigation-arrow-back"></i></a>
        <a class=" btn-menu-right" ng-click="search()" ng-if="searchbtn"><i class="mdi-action-search"></i></a>
      </div>
    </div>
  </nav>
  </div>