<header sidebar="vm.state.sidebar" title="{{ vm.settings.title }}" searchbtn="true" searchstate="vm.state.search"></header>

<sidebar open="vm.state.sidebar"></sidebar>

<div class="container">
  <div class="section" ng-class="{ 'hidden' : !vm.state.search }">
    <div class="row">
      <div class="col s12 offset-m2 center m8">
        <div class="search-input">
          <div class="input-field col s6">
            <input id="titre" type="text"  ng-model="vm.search.nom">
            <label for="titre">Nom</label>
          </div>
          <div class="input-field col s6">
            <input id="titre" type="text"  ng-model="vm.search.prenom">
            <label for="titre">Prénom</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 offset-m2 center m8">
        <a class="waves-effect waves-light btn" ng-click="vm.searchMembres()">Rechercher</a>
        <a class="waves-effect waves-light btn" ng-click="vm.clearSearch()"><i class="mdi-content-clear"></i></a>
      </div>
    </div>
  </div>
  <div class="section">
    <spinner spinner="!vm.state.spinner"></spinner>

    <div class="floating-btn-wrap">
      <div class="snackbar hidden-snackbar" ng-class="{ 'hidden-snackbar': !vm.state.snackbar }" ng-click="vm.state.snackbar = true"> snackbar text</div>
      <a class="btn-floating floating-btn btn-large waves-effect waves-light pink accent-2" ui-sref="MembreCreate"><i class="mdi-content-add"></i></a>
    </div>
    
    <div class="row">
      <div class="col s12 offset-m2 center m8">
        <div class="card-panel" ng-repeat="item in vm.membres">
          <a ui-sref="MembreDetail({ id : item.id })" class="secondary-content">
            <span class="">
              {{ item.nom }} - {{ item.prenom }} 
            </span>
          </a>
        </div>
      </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>

