  <header sidebar="vm.state.sidebar" title="{{ vm.settings.title }}" searchbtn="true" searchstate="vm.state.search"></header>
  
  <sidebar open="vm.state.sidebar"></sidebar>

  
  <div class="container">
      <div class="section" ng-class="{ 'hidden' : !vm.state.search }">
        <div class="row">
          <div class="col s12 offset-m2 center m8">
            <div class="search-input">
              <div class="input-field col s6">
                <input id="titre" type="text"  ng-model="vm.search.titre">
                <label for="titre">Titre</label>
              </div>
              <div class="input-field col s6">
                <input id="titre" type="text"  ng-model="vm.search.auteur">
                <label for="titre">Auteur</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 offset-m2 center m8">
            <a class="waves-effect waves-light btn" ng-click="vm.searchLivres()">Rechercher</a>
            <a class="waves-effect waves-light btn" ng-click="vm.clearSearch()"><i class="mdi-content-clear"></i></a>
          </div>
        </div>
      </div>
      <div class="section">
        <spinner spinner="!vm.state.spinner"></spinner>

        <div class="floating-btn-wrap">
          <div class="snackbar hidden-snackbar" ng-class="{ 'hidden-snackbar': !vm.state.snackbar }" ng-click="vm.state.snackbar = true"> snackbar text</div>
          <a class="btn-floating floating-btn btn-large waves-effect waves-light pink accent-2" ui-sref="LivreCreate"><i class="mdi-content-add"></i></a>
          
        </div>
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 offset-m2 center m8">
           <!--  <ul class="collection with-header">
              <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
              <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
              <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
            </ul> -->
            <div class="card-panel" ng-repeat="item in vm.livres">
              <a ui-sref="LivreDetail({ isbn : item.ISBN })" class="secondary-content">
                <span class="">
                  {{ ::item.titre }}
                </span>
                <br>
                <span class="">
                  {{ ::item.auteur }}
                </span>
              </a>
            </div>
          </div>

      </div>
      <br><br>


    </div>
  </div>

